@font-face{
     font-family: 'Autumn In November';
     src: url('../images/Autumn In November.ttf');
}
 @import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Montserrat|Open+Sans&display=swap');
 body{
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
}
 header{
     display: flex;
     flex-direction: column;
}
 h1{
     align-self: center;
}
 .nav-list{
     font-size: 0.8em;
}
 .nav-list, .footer{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     list-style: none;
}
 .nav-list, .list{
     padding: 10px;
}
 a{
     text-decoration: none;
     text-transform: uppercase;
     color: #000000;
}
 .welcome{
     background-image: url('../images/baner.png');
     height: 220px;
     margin-bottom: 20px;
}
 .welcome, .project-phar, .about-phar, .text{
     padding-top: 5px;
     padding-left: 10px;
     padding-right: 10px;
     font-size: 0.9em;
     line-height: 1.4em;
}
 h2{
     font-family: 'Autumn In November';
     font-size: 2em;
}
 section{
     margin-top: 5px;
     color: #FFFFFF;
}
 .projects, .about, .text{
     text-align: center;
}
 .project{
     margin-top: 5px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 3fr 3fr 0.5fr 0.5fr;
     height: 450px;
}
 .project-img{
     width: 100%;
     height: auto;
     grid-column: 1/4;
     grid-row: 1/2;
     background-repeat: no-repeat;
     background-size: cover;
}
 .one{
     background-image: url('../images/obrazek1.jpg');
}
 .two{
     background-image: url('../images/obrazek2.jpg');
}
 .three{
     background-image: url('../images/obrazek3.jpg');
}
 .project-phar{
     background: #000000;
     margin-top: 0;
     padding-top: 25px;
     padding-left: 10px;
     padding-right: 10px;
     font-size: 0.9em;
     grid-column: 1/4;
     grid-row: 2/4;
}
 .more, .about-more{
     background: #FFFFFF;
     color: #000000;
     text-transform: uppercase;
     border: black solid 1px;
     grid-column: 2/3;
     grid-row: 3/4;
     text-align: center;
     padding-top: 10px;
}
 .inner{
     display: none;
}
 
 .about{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 1fr 3fr 0.5fr 0.5fr;
     height: 550px;
}
 .about-phar{
     background: #000000;
     grid-column: 1/4;
     grid-row: 2/4;
     padding-left: 5px;
     padding-right: 5px;
}
 .about-header{
     background: #000000;
     grid-column: 1/4;
     grid-row: 1/3;
}
 .about-more{
     grid-row: 3/5;
}
 img{
     max-width: 100%;
}
.text{
     color: #000000;
     background: #CCCCCC;
     height: 300px;
     padding-right: 5px;
     padding-left: 5px;
     margin-bottom: 30px;
}
.loading{
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
     width: 70%;
     height: 50px;
}
.load-circle{
     width: 15px;
     height: 15px;
     margin-left: 5px;
     border-radius: 50%;
     border: white solid 2px;
}
 footer{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background: #222222;
     color: #FFFFFF;
     height: 150px;
}
 .footer-img{
     width: 30%;
}
 .img-wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
}
 .footer-img{
     background: #FFFFFF;
}
 .list-wrapper{
     font-size: 1em;
}
 @media(min-width: 500px){
     .welcome{
         height: 180px;
    }
     .project{
         height: 300px;
    }
     .about{
         height: 350px;
    }
     .text{
         height: 230px 
    }
}
 @media(min-width: 920px){
     .welcome, .project-phar, .about-phar, .text{
         font-size: 0.9em;
         line-height: 1.6em;
    }
     .nav-list{
         font-size: 1em;
    }
     .nav-list, .footer{
         justify-content: space-around;
    }
     .nav-list, .greeting{
         width: 70%;
         margin-right: auto;
         margin-left: auto;
    }
     .welcome{
         height: 200px;
         padding-left: 5px;
         margin-bottom: 40px;
    }
     .projects, .about, .text{
         margin-left: auto;
         margin-right: auto;
    }
     .projects{
         width: 90%;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: 500px;
    }
     .project{
         width: 80%;
         margin-left: auto;
         margin-right: auto;
         height: 600px;
    }
     .inner{
         width: 85%;
         height: 75%;
         border: solid 1px rgba(255, 255, 255, 0.7);
         margin-top: 25px;
         margin-bottom: 20px;
         margin-left: auto;
         margin-right: auto;
    }
     .about, .text{
         width: 84%;
    }
     .about{
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: 1fr 2.8fr 0.6fr 0.6fr;
         margin-top: 70px;
         height: 350px;
    }
     .about-header{
         margin-top: 30px;
    }
     .about-phar{
         margin-top: 10px;
         padding-right: 90px;
         padding-left: 90px;
    }
     .text{
         margin-top: 15px;
         height: 250px;
    }
     .text-phar{
         width: 70%;
         margin-left: auto;
         margin-right: auto;
         margin-top: 20px;
    }
     footer{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding-left: 50px;
         padding-right: 50px;
    }
     .footer.list{
         flex-direction: column;
    }
     .list-wrapper{
         margin-bottom: 15px;
    }
}
 @media(min-width: 1250px){
     .welcome, .project-phar, .about-phar, .text{
         font-size: 1em;
         line-height: 1.7em;
    }
     .about-phar{
         margin-top: 30px;
    }
     .load-circle{
         width: 20px;
         height: 20px;
    }
}
